$color__primario: white;
$color__secundario: black;
$color__texto: black;
$color__texto2: white;
$color__fondo: #8aaae5;
$color__boton: #1fa61c;
$color__form: white;
//Colores oscuros
$dark__primario: black;
$dark__secundario: white;
$dark__texto: white;
$dark__texto2: black;
$dark__fondo: #092966;
$dark__boton: #11600f;
